:root {
  --orange: rgb(255, 16, 40);
  --ochre: #CC7722;
  --black: #000;
  --blue: blue;
  --gray-dark: #333;
  --light-gray: #CCC;

  /* http://www.cssfontstack.com/Verdana */
  --font-text: Verdana, Geneva, sans-serif;

  /* http://www.cssfontstack.com/Franklin-Gothic-Medium */
  --font-headlines: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

:root,
.brand-eptv {
  --active-colour: var(--orange);
  --important: var(--orange);
  --active-foreground: #fff;
  --active-background: var(--active-colour);
  --metadata: var(--orange);
}

.brand-chaine4 {
  --active-colour: var(--ochre);
  --important: var(--ochre);
  --active-foreground: #fff;
  --active-background: var(--active-colour);
  --metadata: var(--ochre);
}

.brand-canal-algerie {
  --active-colour: var(--blue);
  --important: var(--blue);
  --active-foreground: #fff;
  --active-background: var(--active-colour);
  --metadata: var(--blue);
}
