.headline-compact {
  border-bottom: 2px dotted var(--gray-dark);
  padding-bottom: 1em;
}

.headline-compact .title {
  font-family: var(--font-headlines);
  font-size: 1.2em;
  font-weight: 300;
  margin-bottom: 1.5em;
}

  .headline-compact .title a {
    color: var(--gray-dark);
  }

  .headline-compact .metadata {
    color: var(--metadata);
    text-transform: uppercase;
  }

    .headline-compact .metadata .icon {
      margin-right: .25em;  
    }
