.title-card h1,
.title-card h2,
.title-card h3,
.title-card h4{
    margin-top: 0;
    margin-bottom: 0;
}

.title-card{
    height: 300px;
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.title-card .plan{
    background: rgba(255, 255, 255, .4);
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 6em;

    padding: 0.5em 1em;
}

.title-card > .icon {
  fill: var(--active-colour);
  color: white;
  left: 1em;
  position: absolute;
  top: 0.5em;
}

.title-card .plan .time {
   font-size: 15px;
   height: 1em;
   padding-left: 5px;
}


.title-card .plan .time time {
  color: var(--metadata);
}


.title-card h1{
   color: white;
   font-size: 1.4em;
   padding-bottom: 20px;
   overflow: hidden;
   text-overflow: ellipsis;
   white-space: nowrap;
}

.title-card .category {
  background: var(--orange);
  color: white;
}

.title-card h1 a{
  color: inherit;
}

.title-card h1 a:hover{
  color: var(--active-colour);
}
