---
name: Variables CSS
main-variables:
  orange:
  gray-dark:
  light-gray:
  blue:
  ochre:
  font-text: font-family
  font-headlines: font-family
brands:
  eptv: EPTV
  chaine4: Chaîne 4
  canal-algerie: Canal Algérie
theme-variables:
  - active-colour
  - important
  - active-foreground
  - active-background
  - metadata
css_file: css-variables.css
---
{% for main-variable in page.main-variables %}
<div class="col-sm-3">
  {% assign variable = main-variable[0] %}
  {% assign css-property = main-variable[1] %}
  {% include components/css-variables.html variable=variable css-property=css-property %}
</div>
{% endfor %}

<div class="col-sm-12">
{% for brand in page.brands %}
  <div class="row brand-{{ brand[0] }}">
    <h3 class="col-sm-12">{{ brand[1] }}</h3>

    {% for variable in page.theme-variables %}
    <div class="col-sm-3">
      {% include components/css-variables.html variable=variable %}
    </div>
    {% endfor %}
  </div>
{% endfor %}
</div>

<script>
[].slice.call(document.querySelectorAll('.colour-block'))
  .forEach(el => {
    const colour = el.dataset.var;
    const value = window.getComputedStyle(el).getPropertyValue(colour);

    el.innerHTML = `<span class="value">${value}</span>`;
  });
</script>
