---
name: Headline (compacte)
css_file: headline-compact.css
---

{% assign post = site.posts | first %}

<div class="col-sm-4">
  {% include components/headline-compact.html post=post %}
</div>

<div class="col-sm-12">
  {% include components/headline-compact.html post=post %}
</div>
