---
name: Icônes
css_file: icons.css
---

{% assign icons = site.static_files | where: "extname", ".svg" | where_exp: "icon", "icon.path contains '/assets/icons/'" | map: "basename" %}

{% for icon in icons %}
  <div class="col-sm-3">
    <div class="thumbnail">
      <div class="text-center">
        {% include components/icons.html icon=icon icon_size="x-large" %}
        {% include components/icons.html icon=icon icon_size="large" %}
        {% include components/icons.html icon=icon %}
      </div>

      <div class="caption"><code>{{ icon }}</code></div>
    </div>
  </div>
{% endfor %}

<div class="col-sm-12">
{% highlight html %}{% include components/icons.html icon=icon %}{% endhighlight %}</div>
