---
name: Contenu (carte)
css_file: title-card.css
---

{% assign post = site.posts | where: 'layout', 'post' | first %}
{% assign post_video = site.posts | where: 'layout', 'post-video' | first %}

<div class="col-sm-12">
  {% include components/title-card.html post=post %}
</div>

<div class="col-sm-4 brand-chaine4">
  {% include components/title-card.html post=post %}
</div>

<div class="col-sm-8 brand-canal-algerie">
  {% include components/title-card.html post=post %}
</div>

<div class="col-sm-12">
  <h2>Article vidéo</h2>
</div>

<div class="col-sm-8">
  {% include components/title-card.html post=post_video %}
</div>

<div class="col-sm-12">
  <h2>Affichage de la catégorie</h2>
</div>

<div class="col-sm-8">
  {% include components/title-card.html post=post_video display_category=true %}
</div>
