@import url('bootstrap.css');

.colour-block {
  border-radius: 3px;
  min-height: 60px;
}

.colour-block .value {
  background-color: rgba(255, 255, 255, .8);
  border-radius: 3px;
  color: #000;
  margin: .2em;
  padding: .1em .2em;
}
