{% assign variable = include.variable %}
{% assign css-property = include.css-property | default: 'background-color' %}

<div class="thumbnail">
  <div class="colour-block" style="{{ css-property }}: var(--{{ variable }})" data-var="--{{ variable }}"></div>

  <div class="caption"><code>--{{ variable }}</code></div>
</div>
