{% assign post = include.post %}

<div class="headline-expanded">
  <h2>
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </h2>

  <img src="{{ site.baseurl }}/{{ post.image_url }}" alt="">

  <p>
    {{ post.excerpt }}
  </p>

  <p>
    <svg class="icon icon--svg icon--size-regular" aria-hidden="true">
      <use xlink:href="/assets/icons.svg#clock"></use>
    </svg>
    <time datetime="{{ post.date | date_to_xmlschema}}">{{ post.date }}</time>
    <span>Par {{ post.author }}</span>
    <a href="#">
      <svg class="icon icon--svg icon--size-regular" aria-hidden="true">
        <use xlink:href="/assets/icons.svg#share"></use>
      </svg>
    </a>
  </p>
</div>
