{% assign post = include.post %}

<div class="headline-compact">
  <h2 class="title">
    <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
  </h2>

  <p class="metadata">
    <svg class="icon icon--svg icon--size-regular" aria-hidden="true">
      <use xlink:href="/assets/icons.svg#calendar"></use>
    </svg>
    <time datetime="{{ post.date | date_to_xmlschema}}">{{ post.date | date: '%d %B %Y %H:%M' }}</time>
  </p>
</div>
