{% assign post = include.post %}

<div class="headline">
  <img src="{{ site.baseurl }}/{{ post.image_url }}" alt="">

  <p>
    <a href="{{ post.url | relative_url }}">
      {{ post.content | truncatewords: 20 }}
    </a>
  </p>

  <p>
    <svg class="icon icon--svg icon--size-regular" aria-hidden="true">
      <use xlink:href="/assets/icons.svg#clock"></use>
    </svg>
    <time datetime="{{ post.date | date_to_xmlschema}}">{{ post.date }}</time>

    <a href="#">
      <svg class="icon icon--svg icon--size-regular" aria-hidden="true">
        <use xlink:href="/assets/icons.svg#share"></use>
      </svg>
    </a>
  </p>
</div>
