{% assign icon = include.icon %}
{% assign size = include.icon_size | default: "regular" %}

<svg class="icon icon--svg icon--size-{{ size }}" aria-hidden="true">
  <use xlink:href="{{ site.baseurl }}/assets/icons.svg#{{ icon }}"></use>
</svg>
