{% assign post = include.post %}
{% assign display_category = include.display_category | default: false %}

<div class="title-card" style="background-image: url({{ post.image_url }})">
  {% if display_category == true %}
  <span class="category">{{ post.category }}</span>
  {% elsif post.video_url %}
  <svg class="icon icon--svg icon--size-large" aria-hidden="true">
    <use xlink:href="/assets/icons.svg#play-video"></use>
  </svg>
  {% endif %}

  <div class="plan">
    <h1>
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h1>

    <p class="time">
      <svg class="icon icon--svg icon--size-regular" aria-hidden="true">
        <use xlink:href="/assets/icons.svg#clock"></use>
      </svg>
      <time datetime="{{ post.date | date_to_xmlschema}}">{{ post.date | date: '%d %B %Y' }}</a>
    </p>
  </div>
</div>
