---
layout: default
---
{% assign css_files = site.examples | map: 'css_file' | where_exp: 'd', 'd' | uniq %}
<style type="text/css">
  @import url('{{ site.baseurl }}/assets/styleguide.css');
  {% for file in css_files %}
  @import url('{{ site.baseurl}}/assets/components/{{ file }}');
  {% endfor %}
</style>
<script>
  document.querySelector('main .wrapper').classList.add('container');
</script>


{% for example in site.examples %}
  {% include example.html component=example %}
{% endfor %}
